.pagination {
  //   padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  span {
    background-color: $color-light-2;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.1s ease-out;

    &:hover,
    &.active {
      background-color: $color-primary-dark;
      color: $color-light-1;
    }
  }
}
