// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-light-1: #f9f7f6;
$color-light-2: #eee;

$color-dark-1: #54483a;
$color-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include mq("tablet-wide") {
    font-size: 55%;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.4;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1366;
  margin: auto;
  padding: 0 2rem;
}

//  =======================
//      STATRT STYLING
//  =======================

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr 9rem;
}

.Main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 3rem;
  padding-top: 2.5rem;
}
